# --- Interface web ---
flask==3.1.0

# --- Intelligence artificielle (module A) ---
tensorflow==2.21.0
numpy==2.4.6
pillow==12.3.0

# --- Scraping (module B) ---
beautifulsoup4==4.15.0
lxml==6.1.1
requests==2.34.2
